<!DOCTYPE html>
<header>
    <link rel="stylesheet" type="text/css" href="../static/css/livro.css" th:href=@{/css/livro.css}>
</header>
<body>
    <header class="flex-container">
        <div class="logo">LOGO</div>
        <div class="site">Casa do Código</div>
        <div class="buscar"> Buscar </div>
    </header>
    <body>
        <h2 class="titulo" th:text="'Titulo: '+${livro.titulo}"></h2>
        <img class="imagem" th:src="${livro.imagemUrl}"></img>
        <h2 class="subtitulo" th:text="'Subtituto: '+${livro.subtitulo}"></h2>
        <h2 class="autor" th:text="'Autor: '+${autor.nome}"></h2>
        <h2 class="categoria" th:text="'Categoria: '+${categoria.categoria}"></h2>
        <h2 class="conteudo" th:text="'Conteúdo: '+${livro.conteudo}"></h2>
        <h2 class="sumario" th:text="'Sumário: '+${livro.sumario}"></h2>
        <h2 class="paginas" th:text="'Número de Páginas: '+${livro.numeroPaginas}"></h2>
        <h2 class="isbn" th:text="'ISBN: '+${livro.isbn}"></h2>
    </body>
</body>